/* Full Height for the container */
.vh-100 {
  height: 100vh;
}

/* Styling for the form section */
.bg-white {
  background-color: #ffffff;
}

/* Styling for the labels */
.form-label {
  font-size: 14px;
}

/* Styling for the button */
button {
  font-weight: bold;
}

/* Background Image */
.bg-image {
  background-image: url('/assets/profile/change-pass-bg.png'); /* Path ke gambar background */
  background-size: cover; /* Gambar memenuhi area */
  background-repeat: no-repeat; /* Tidak mengulang gambar */
  background-position: center; /* Gambar di tengah */
}
